.container{
    min-height: auto;
    background-color: var(--bg);
    color: var(--textColor);
}

.wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px
}


