.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.askAccount {
  text-align: center;
  color: #9ca3af;
}

.askText {
  font-weight: bold;
  color: #000;
  margin-left: 8px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 24px;
  gap: 32px;
  background-color: #f3f4f6;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* width: 80%; */
  align-items: center;
  justify-content: center;
}

.buttonCont{
  margin-top: 20px;
}

.title {
  margin-bottom: 0.75rem;
  font-size: 2.25rem;
  font-weight: bold;
}

.imageTitle {
  color: #fff;
  font-size: 1.25rem;
}

/* .image {
  width: 400px;
  height: 100%;
  border-top-right-radius: 20px;
  object-fit: cover;
} */

.imageContainer {
  position: relative;
}

.description {
  font-weight: lighter;
  color: #9ca3af;
  margin-bottom: 2rem;
}

.input {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.inputForm {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

.inputForm::placeholder {
  font-weight: lighter;
  color: #9ca3af;
}

.checkboxCont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.checkboxWrapper {
  margin-right: 1.5rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.checkText {
  font-size: 1rem;
}

.buttonSignIn {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  transition-property: background-color, color, border;
  transition-duration: 0.3s;
  font-size: 15px;
  font-weight: 600;
}

/* .buttonSignIn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #d1d5db;
} */

.googleButton {
  width: 100%;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.googleButton:hover {
  background-color: #000;
  color: #fff;
}

.googleImg {
  width: 1.5rem;
  height: 1.5rem;
  display: inline;
  margin-right: 0.5rem;
}

.forPass {
  font-weight: bold;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.imageText {
  position: absolute;
  display: none;
  bottom: 2.5rem;
  right: 1.5rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 0;
  }
  .form {
    padding: 56px;
  }
  /* .image {
    display: block;
  } */
 
}