.container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  /* padding: 0px 0px 20px 20px; */
  background-color: var(--boxCont);
  border-radius: 10px;
}

.cardContainer {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* padding: 0px 0px 20px 0px; */
  background-color: var(--boxCont);
  border-radius: 10px;
  height: 381px;
  width:244px;
}
.imageContainer {
  flex: 1;
  
  height:inherit;
  width: inherit;
  position: relative;

  
}

.image {
  object-fit: cover;
  border-radius: 10px;
}


.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 5px 5px;

}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display:flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 640px){
  .cardContainer {
    max-width: 475px;
    display: flex;
    flex-direction: column;
    }}
@media screen and (max-width: 768px){
  .cardContainer {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    }}
  
  @media screen and (max-width: 1024px){
    .cardContainer {
      max-width: 768px;
      display: flex;
      flex-direction: column;
      }}
  @media screen and (max-width: 1280px){
    .cardContainer {
      max-width: 1024px;
    display: flex;
    flex-direction: column;
    }
  }